* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #ff9f43;
  --secondary: #feca57;
  --accent: #5f27cd;
  --lightgray: #ddd;
  --text-regular: #444;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular);
}

// Utils Display

.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-content-center {
  justify-content: center;
}
.flex-justify-content-between {
  justify-content: space-between;
}
.flex-align-items-center {
  align-items: center;
}
.flex-align-items-between {
  align-items: space-between;
}
.flex-fill {
  flex: 1 1 auto;
}

//Utils Padding
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}

//debug Colors
.d1 {
  border: 1px solid red;
}
.d2 {
  border: 1px solid green;
}
